<h1 class="fs-4 text-center mt-3">Đăng nhập</h1>
<form class="form mt-3" [formGroup]="form" (ngSubmit)="onLogin()">
  <div class="form-input">
    <div class="mb-1 row">
      <label for="username" class="col-3 col-form-label">Tài khoản</label>
      <div class="col-9">
        <input type="text" class="form-control shadow-none px-2" formControlName="username" id="username">
      </div>
    </div>
    <div class="row">
      <label for="password" class="col-3 col-form-label">Mật khẩu</label>
      <div class="col-9">
        <input type="password" class="form-control shadow-none px-2" formControlName="password" id="password">
      </div>
    </div>
  </div>
  <p class="color-orange text-center py-0 my-0">{{ message }}</p>
  <button [disabled]="isLoading" type="submit">
    <span *ngIf="!isLoading">Đăng nhập</span>
    <span *ngIf="isLoading">
    <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        Đợi tí...
    </span>
  </button>
</form>
<div class="d-flex justify-content-center mt-3">
  <a class="text-center text-decoration-none" routerLink="/forgot-password">Quên mật khẩu đăng nhập?</a>
</div>

