<section class="home">
  <img src="assets/images/background.jpg" alt="Background" class="background">
  <div class="content">
    <h3 class="fs-5 text-center mt-3 mb-0 pb-0">Tải MOD Server TeaMobi</h3>
    <div class="download">
      <button (click)="goToDownload('mod?server=teamobi&keyword=android')" class="bg-transparent border-0">
        <img src="assets/images/android.png" alt="Android">
        <small>new</small>
      </button>
      <button (click)="goToDownload('mod?server=teamobi&keyword=pc')" class="bg-transparent border-0">
        <img src="assets/images/pc.png" alt="Window">
        <small>new</small>
      </button>
      <button (click)="goToDownload('mod?server=teamobi&keyword=java')" class="bg-transparent border-0">
        <img src="assets/images/jar.png" alt="Android">
        <small>new</small>
      </button>
      <button (click)="goToDownload('mod?server=teamobi&keyword=ios')" class="bg-transparent border-0">
        <img src="assets/images/ip.png" alt="Android">
        <small>new</small>
      </button>
    </div>
    <hr/>
  </div>
  <div class="intro">
    <h3 class="fs-5 mt-0 color-orange">Giới thiệu</h3>
    <p>
      Ngọc Rồng Online là Trò Chơi Trực Tuyến với cốt truyện xoay quanh bộ truyện tranh 7 viên Ngọc Rồng. Người chơi sẽ
      hóa thân thành một trong những anh hùng của 3 hành tinh: Trái Đất, Xayda, Namếc. Cùng luyện tập, tăng cường sức
      mạnh và kỹ năng. Đoàn kết cùng chiến đấu chống lại các thế lực hung ác. Cùng nhau tranh tài.
    </p>
    <p>Đặc điểm nổi bật:</p>
    <ul>
      <li>
        Thể loại hành động, nhập vai. Trực tiếp điều khiển nhân vật hành động. Dễ chơi, dễ điều khiển nhân vật. Đồ
        họa sắc nét. Có phiên bản đồ họa cao cho điện thoại mạnh và phiên bản pixel cho máy cấu hình thấp.
      </li>
      <li>
        Cốt truyện bám sát nguyên tác. Người chơi sẽ gặp tất cả nhân vật từ Bunma, Quy lão kame, Jacky-chun, Tàu Pảy
        Pảy... cho đến Fide, Pic, Poc, Xên, Broly, đội Bojack.
      </li>
      <li>
        Đặc điểm nổi bật nhất: Tham gia đánh doanh trại độc nhãn. Tham gia đại hội võ thuật. Tham gia săn lùng ngọc rồng
        để mang lại điều ước cho bản thân.
      </li>
      <li>
        Tương thích tất cả các dòng máy trên thị trường hiện nay: Máy tính PC, Điện thoại di động Nokia Java, Android,
        iPhone, Windows Phone, và máy tính bảng Android, iPad.
      </li>
    </ul>
    <div class="skills">
      <p class="p-0 m-0">Cơ bản</p>
      <ul class="mb-3">
        <li><img src="assets/images/skills/gif_maphongba.gif" alt="Skill"></li>
        <li><img src="assets/images/skills/gif_gif_Saiyain.gif" alt="Skill"></li>
        <li><img src="assets/images/skills/gif_supber_kame.gif" alt="Skill"></li>
      </ul>
      <p class="p-0 m-0">VIP</p>
      <ul>
        <li><img src="assets/images/skills/gif_maphongba_VIP.gif" alt="Skill"></li>
        <li><img src="assets/images/skills/gif_gif_Saiyain_VIP.gif" alt="Skill"></li>
        <li><img src="assets/images/skills/gif_supber_kame_VIP.gif" alt="Skill"></li>
      </ul>
    </div>

  </div>
</section>
