<section>
  <div class="back mb-2">
    <a routerLink="/">Quay lại</a>
  </div>
  @if (topic$ | async; as topic) {
    <div class="topic-main">
      <div class="user">
        <img [src]="topic.authorAvatarUrl" alt="avatar"/>
        <p class="small username text-center">{{ topic.authorDisplayName }}</p>
      </div>
      <div class="topic-content">
        <div class="top-content">
          <p>{{ topicService.getTimeAgo(topic.createdAt) }}</p>
          <p>Điểm: 100</p>
        </div>
        <hr/>
        <div class="topic-intro">
          <h1 class="fs-6 fw-bold m-0 p-0">{{ topic.title }}</h1>
          <div class="fs-6 content-html" [innerHtml]="sanitizedContent"></div>
        </div>
        <div class="topic-interaction">
          <p></p>
          <div>
            <button><img src="/assets/images/utilities/unlike.png" alt="like"/>0</button>
            <button><img src="/assets/images/utilities/like.png" alt="like"/>1</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ads text-center my-3">
      <a href="https://discord.gg/kzHss3AG97" target="_blank" class="color-brown">Tham gia cộng đồng</a>
    </div>
    @if (loading) {
      <p class="text-center">Đang lấy dữ liệu...</p>
    }
    @if (replies$ | async; as replies) {
      @for (comment of replies; track comment.id) {
        <div class="topic-main">
          <div class="user">
            <img [src]="comment.authorAvatarUrl" alt="avatar"/>
            <p class="small username text-center">{{ comment.authorDisplayName }}</p>
          </div>
          <div class="topic-content">
            <div class="top-content">
              <p>{{ topicService.getTimeAgo(comment.createdAt) }}</p>
              <p *ngIf="userInfo?.sub == comment.authorId.toString()" (click)="deleteReply(comment)"
                 class="btn btn-danger px-2">Xóa</p>
            </div>
            <hr/>
            <div class="topic-intro">
              <p class="fs-6"> {{ comment.content }} </p>
            </div>
            <div class="topic-interaction">
              <p class="auth-like"><span class="text-danger">♥</span> bởi tác giả</p>
              <div>
                <button><img src="/assets/images/utilities/unlike.png" alt="like"/>0</button>
                <button><img src="/assets/images/utilities/like.png" alt="like"/>1</button>
              </div>
            </div>
          </div>
        </div>
      }
      <app-pagination [currentPage]="paginationData.currentPage" [totalPages]="paginationData.totalPages"
                      (pageChange)="onPageChange($event)">
      </app-pagination>
    }


    <hr style="
    height: 5px;
    background-color: var(--orange-color);
    border: none;
    margin: 1rem 0;
    opacity: 1;"/>
    <div *ngIf="topic.isLocked" class="d-flex justify-content-center align-items-center">
      <div class="dialog my-3">
        Topic đã bị khóa, không thể bình luận
      </div>
    </div>
    <div *ngIf="isAuthorize && !topic.isLocked" class="topic-main">
      <div class="user">
        <img [src]="userInfo?.given_name" [alt]="userInfo?.name"/>
        <p class="small username text-center">{{ userInfo?.name }}</p>
      </div>
      <form class="topic-content" [formGroup]="form" (ngSubmit)="createReply()">
      <textarea class="form-control shadow-none my-2" name="content" formControlName="content" rows="4"
                placeholder="Nhập nội dung bình luận"></textarea>
        <div class="d-flex justify-content-between align-items-center">
          <button class="my-2 btn btn-primary my-0 py-0 rounded-1 col-2 col-sm-2 col-md-1" type="submit">
            <span *ngIf="!sending">Đăng</span>
            <span *ngIf="sending" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          </button>
          <p class="text-danger">{{ message }}</p>
        </div>
      </form>
    </div>
  }

</section>
