<h1 class="fs-5 mt-3 text-center">Đổi mật khẩu</h1>
<form class="form mt-3" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="form-input">
    <div class="mb-1 row">
      <label for="currentPassword" class="col-4 col-form-label">Mật khẩu cũ</label>
      <div class="col-8">
        <input type="password" class="form-control shadow-none px-2" required formControlName="currentPassword"
               id="currentPassword">
      </div>
    </div>
    <div class="mb-1 row">
      <label for="newPassword" class="col-4 col-form-label">Mật khẩu mới</label>
      <div class="col-8">
        <input type="password" class="form-control shadow-none px-2" formControlName="newPassword" required
               minlength="6" id="newPassword">
        <div *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid"
             class="text-danger">
          <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Mật khẩu không được để trống</div>
          <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
            Mật khẩu ít nhất có 6 ký tự.
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="confirmNewPassword" class="col-4 col-form-label">Xác nhận mật khẩu</label>
      <div class="col-8">
        <input type="password" class="form-control shadow-none px-2" required formControlName="confirmNewPassword"
               id="confirmNewPassword">
        <div class="text-danger" *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.get('confirmNewPassword')?.touched">
          Mật khẩu xác nhận không khớp.
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="successMessage" class="text-success text-center py-0 my-0">
    {{ successMessage }}
  </p>
  <p *ngIf="errorMessage" class="color-orange text-center py-0 my-0">
    {{ errorMessage }}
  </p>
  <button [disabled]="isLoading || changePasswordForm.invalid" [class.disabled]="changePasswordForm.invalid||isLoading"
          type="submit">
    <span *ngIf="!isLoading">Xác nhận</span>
    <span *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            Đợi tí...
        </span>
  </button>
</form>
