<h1 class="fs-5 mt-3 text-center">Đặt lại mật khẩu</h1>
<form class="form mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-input">
    <div class="mb-1 row">
      <label for="newPassword" class="col-4 col-form-label">Mật khẩu mới</label>
      <div class="col-8">
        <input type="password" class="form-control shadow-none px-2" formControlName="newPassword" id="newPassword">
        @if (hasDisplayError('newPassword')) {
          <div class="text-danger">
            <ng-container [ngSwitch]="form.controls.newPassword.errors | firstkey">
              <div *ngSwitchCase="'required'">
                Vui lòng nhập mật khẩu
              </div>
              <div *ngSwitchCase="'minlength'">
                Mật khẩu phải có ít nhất 6 kí tự
              </div>
            </ng-container>
          </div>
        }
      </div>
    </div>
    <div class="row">
      <label for="confirmPassword" class="col-4 col-form-label">Xác nhận mật khẩu</label>
      <div class="col-8">
        <input type="password" class="form-control shadow-none px-2" formControlName="confirmPassword"
               id="confirmPassword">
        @if (hasDisplayError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')) {
          <div class="text-danger">
            Mật khẩu xác nhận không khớp
          </div>
        }
      </div>
    </div>
  </div>
  <p *ngIf="successMessage" class="text-success text-center py-0 my-0">
    {{ successMessage }}. Chuyển tới trang đăng nhập sau {{ countdown }} giây.
  </p>
  <p *ngIf="errorMessage" class="color-orange text-center py-0 my-0">
    {{ errorMessage }}
  </p>
  <button [disabled]="isLoading || form.invalid" [class.disabled]="form.invalid||isLoading" type="submit">
    <span *ngIf="!isLoading">Xác nhận</span>
    <span *ngIf="isLoading">
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            Đợi tí...
        </span>
  </button>
</form>
